# Writing program for module 3 and 4

In [1]:
your_input = input("Please enter the number you want to print:")

Please enter the number you want to print:1

In [2]:
print(type(your_input))

<class 'str'>

In [3]:
print(type(float(your_input)))

<class 'float'>

In [4]:
converted_your_input = int(your_input)

In [5]:
print(type(converted_your_input))

<class 'int'>

Here we have taken the user input which is by default a string and we converted the input to the interger format using typecasting. We have used printed both imput type using python default type() method

We are now going to perform the urnary operations

In [6]:
converted_your_input += 1

In [7]:
print(converted_your_input)

2

In [8]:
new_value = converted_your_input+(converted_your_input*converted_your_input)-converted_your_input

In [9]:
print(new_value)

4

Here we can see the operator precedence

# We are writing program for modulde 3

we are starting the concept with slicing

In [10]:
my_name = input("Please enter your name \t")

Please enter your name 	Aayush Dip Giri

In [11]:
my_name[::-1] ##reversing the list

'iriG piD hsuyaA'

In [12]:
my_name[:6]    ## taking the first name only

'Aayush'

In [13]:
my_name[7:10]  ## taking middle name only

'Dip'

In [14]:
my_name[-4:]  ## taking the last name only

'Giri'

In [15]:
## We can convert the string to list using list function

In [16]:
my_name_list = list(my_name)

In [17]:
my_name_list

['A', 'a', 'y', 'u', 's', 'h', ' ', 'D', 'i', 'p', ' ', 'G', 'i', 'r', 'i']

In [18]:
my_name_list.append("value")

In [28]:
print(my_name_list)

['A', 'a', 'y', 'u', 's', 'h', ' ', 'D', 'i', 'p', ' ', 'G', 'i', 'r', 'i', 'value']

In [20]:
my_name_list.insert(1,"value1") ## inserting value at position

In [21]:
print(my_name_list)

['A', 'value1', 'a', 'y', 'u', 's', 'h', ' ', 'D', 'i', 'p', ' ', 'G', 'i', 'r', 'i', 'value']

In [22]:
my_name_list.pop(1)

'value1'

Here in the above code we have performed the concept of slicing and typecasted the string your_name to list. In that list we have performed the list function application. The function like append, insert and pop are used in the program.

In [43]:
print(my_name_list)  ## Here we have popped the element at position 1

['A', 'a', 'y', 'u', 's', 'h', ' ', 'D', 'i', 'p', ' ', 'G', 'i', 'r', 'i', 'value']

In [44]:
## Now we are going to write a program to create a list of list

In [70]:
new_list = []
temp_list = []
for element in my_name_list:
    if element != ' ':
        temp_list.append(element)
    else:
        new_list.append(temp_list)
        temp_list = []
        
new_list.append(temp_list)

In [64]:
print(new_list)

[['A', 'a', 'y', 'u', 's', 'h'], ['D', 'i', 'p'], ['G', 'i', 'r', 'i', 'value']]

In [65]:
## Now we will write a program to access element of the list of list

In [69]:
print(new_list[2][4]) ## accessing the last value of list of list of third index ie "Value"

value

In [71]:
## Now we will learn about the dictionary and tuples

In [72]:
## The main difference between list and tuple is that tuple is immutable where as list is mutable

In [75]:
new_tuple = tuple(new_list[0])

In [81]:

print (new_tuple)

('A', 'a', 'y', 'u', 's', 'h')

In [82]:
## Using exceptional handling to show that the tuple object is Immutable 
try:
    new_tuple.pop(1)
except AttributeError:
    print("Attribute error occoured")
    print("Tuble object is Immutable")

Attribute error occoured
Tuble object is Immutable

In [83]:
## Now we will study about the dictionary