In [11]:
your_Name= input("Enter your Name : ")

Enter your Name : My name is Aayush Dip Giri

In [12]:
your_Namelist=(your_Name.lower()).split()

In [13]:
print(your_Namelist)

['my', 'name', 'is', 'aayush', 'dip', 'giri']

In [25]:
for value in your_Namelist:
    new_value = value[0].upper() + value[1:-1] + value[-1].upper()+ " "
    your_NamE = new_value + " "

In [26]:
print(new_value)

GirI